
/*Estilos para el sitio web responsive*/
/*
#contenedorGeneral{
    
}*/


@media (min-width: @screen-sm-min) { 
    #contenedorGeneral{
        background-color:red;
    }

}

/* Para resolucion < 768  */  
@media only screen and (max-width: 768px)  {  
  #contenedorGeneral{
        margin-left:-15px;
        margin-right:-15px;
    }

  .thumbnailImagenes{
      min-height: 300px;
  }
}  
